@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
       @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Cinzel:wght@400..900&family=Gruppo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        body {
            background-color: #1f242d;
        }

        .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
        .card {
            --main-color: gold;
            --sub-color: #F7EF8A;
            --bg-color: #323946;
            --accent-color: #BC8D66;
            border: 1px solid gold;
            position: relative;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            width: 270px;
            padding: 25px;
            margin-top: 50px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            background-color: var(--bg-color);
            transition: all 0.2s;
            cursor: pointer;
            box-shadow: 0px 0px 5px -1.5px #000;
        }
        .card::before {
            content: '';
            width: 99%;
            height: 99%;
            background: var(--sub-color);
            position: absolute;
            z-index: -1;
            top: 1px;
            left: 1px;
            border-radius: 25px;
            transition: all 0.3s;
        }
        .card__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
     .card__subtitle, .card__title {
      font-family: "Roboto", sans-serif;
            font-weight: inherit; /* Use inherited weight */
            background-image: linear-gradient(
                -225deg,
                #f3a2ba 0%,
                #ac7ddd 29%,
                turquoise 67%,
                rgb(207, 207, 80) 100%
            );
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 4s linear infinite;
        }
        .icon{
  justify-content: center;
  display: flex;
  margin-bottom: 1.5rem ;
  background-image: linear-gradient(
    -225deg,
    #f3a2ba 0%,
    #ac7ddd 29%,
    turquoise 67%,
    rgb(207, 207, 80) 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  font-size: 7rem;
}
        .card__title {
            font-weight: 900; /* Match previous weight */
            font-size: 25px; /* Match previous size */
        }
        .card__subtitle {
            font-weight: 600; /* Match previous weight */
            font-size: 20px; /* Match previous size */
        }

        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
        .card__img a {
            text-decoration: none; /* Remove the purple bar or underline */
        }
        .card__img {
    width: 100%;
    text-align: center;
}

        .card__icon {
            width: 40px;
            height: 40px;
            transform: rotate(-45deg);
            transition: all 0.3s;
        }
        .card__icon svg {
            width: 100%;
            height: 100%;
        }
        .card__icon g {
            fill: var(--main-color);
        }
        .card__icon circle, polyline, line {
            stroke: var(--main-color);
        }
        .card:hover .card__icon {
            transform: rotate(0);
        }
        .card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line {
            stroke: var(--accent-color);
        }
        .card:hover .card__icon g {
            fill: var(--accent-color);
        }
        .card:hover {
            box-shadow: 0px 0px 20px -5px #000;
        }
        .card:hover::before {
            transform: rotate(10deg);
            box-shadow: 0px 0px 20px -5px #000;
        }
        .card-container{
          gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
        }

        .heading{
            display: flex;
            align-items: center;
            color: #F7EF8A;
            justify-content: center;
            margin-top: 80px;
            margin-bottom: 20px;
            font-family: "Ciznel",serif;
          }

        @media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}

@media (max-width: 576px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}