@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 35px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 0 10px rgba(254, 156, 19, 0.15);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    text-shadow: 0 0 10px rgba(254, 156, 19, 0.15);
  }
  50% {
    text-shadow: 0 0 30px rgba(254, 156, 19, 0.3);
  }
}

.wrapper {
  background: rgba(55, 54, 54, 0.5);
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 25px;
  box-shadow: rgba(254, 156, 19, 0.15) 0 7px 50px;
  backdrop-filter: blur(10px);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-text {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
}

.form-inner form {
  width: 100%;
}

.field {
  margin-top: 20px;
}

.field input {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #9c9696d3;
  font-size: 17px;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  transition: all 0.3s ease;
}

.field input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.field input:focus {
  border-color: rgba(254, 156, 19, 0.5);
  box-shadow: 0 0 8px rgba(254, 156, 19, 0.5);
  background: rgba(255, 255, 255, 0);
}

.btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px 0;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid #6f6a6a76;
  text-decoration: none;
  transition: all 300ms ease;
}

.btn:hover {
  color: rgba(254, 156, 19, 0.5);
  background-color: #1a1a1a;
  box-shadow: rgba(254, 156, 19, 0.25) 0 10px 20px;
  transform: scale(1.05);
}

.btn:active {
  box-shadow: none;
  transform: scale(1);
}

input:-webkit-autofill {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #6f6a6a !important;
  border-color: #6f6a6a72 !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}
