body {
    font-family: Arial, sans-serif;
    background-color: #1F242D;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    
}


.card {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h5 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid goldenrod;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
}

thead th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    text-align: center;
}

tbody td {
    text-align: center;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}


.btn {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-primary:hover, .btn-danger:hover {
    opacity: 0.9;
}

i {
    margin-right: 5px;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h5 {
        font-size: 20px;
    }

    table th, table td {
        padding: 10px;
    }

    .btn {
        font-size: 12px;
        padding: 5px 10px;
    }
}
.back-video {
    position: fixed;       /* Fix the video position in the background */
    top: 0;
    left: 0;
    width: 100vw;          /* Full viewport width */
    height: 100vh;         /* Full viewport height */
    object-fit: cover;     /* Ensures the video covers the entire background without distortion */
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;

    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}