{% include 'admin_nav.html' %}
{% load static %}
{% block main %}

{% if error == "no" %}
    <script>
        alert('Your Enquiry has been sent successfully.');
        window.location.href = "{% url 'viewEnquiry' %}";
    </script>
{% elif error == "yes" %}
    <script>
        alert('Something went wrong, please try again.');
    </script>
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Enquiry</title>
    <link rel="stylesheet" href="{% static 'css/add-style.css' %}" >
</head>

<body>
    <div class="outer-box">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="static/images/bgvideo2.mp4">
        </video>
        <div class="inner-box">
            <header class="header">
                <h1>Add Enquiry</h1>
            </header>
            <main class="form-body">
                <form>
                    <p>
                        <label for="name">Name</label>
                        <input type="text" id="name" placeholder="Enter Your Name" required>
                    </p>
                    <p>
                        <label for="contact">Contact</label>
                        <input type="number" id="contact" placeholder="Enter Your Number" required>
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="example@gmail.com" required>
                    </p>
                    <p>
                        <label for="age">Age</label>
                        <input type="date" id="age" placeholder="Enter Your Age" required>
                    </p>
                    <p>Mention Your Gender</p>

                    <input name="gender" type="radio" id="male">
                    <label for="male">Male</label><br>

                    <input name="gender" type="radio" id="female">
                    <label for="female">Female</label><br>

                    <input name="gender" type="radio" id="other">
                    <label for="other">Other</label><br>


                    <p>
                        <input type="submit" id="submit" value="Submit"><br>
                    </p>


                </form>

            </main>
        </div>




    </div>

</body>

</html>

{% endblock %}
