{% load static %}
{% if error == "no" %}
<script>
  alert("Your Enquiry has been send, My Team Contact U Soon..");
  window.location.href = "{% url 'contact' %}";
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert("Something went wrong, Try Again");
</script>
{% endif %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Contact Page</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <video autoplay muted loop playsinline class="background-video">
      <source src="{% static 'images/mylivewallpapers-com-Hulk-Gym-4K.mp4' %}" type="video/mp4" />
    </video>

    <div class="wrapper">
      <div class="title-text">
        <h1 class="title">Contact Us</h1>
      </div>
      <div class="form-container">
        <form method="post" class="form-inner">
          {% csrf_token %}
          <div class="field">
            <input type="text" name="name" placeholder="Full Name" required />
          </div>
          <div class="field">
            <input type="text" name="contact" placeholder="Contact Number" required />
          </div>
          <div class="field">
            <input type="email" name="emailid" placeholder="Email ID" required />
          </div>
          <div class="field">
            <input type="text" name="subject" placeholder="Subject" required />
          </div>
          <div class="field">
            <textarea name="message" placeholder="Describe your message..." required></textarea>
          </div>
          <div class="field btn">
            <input type="submit" value="Send" />
          </div>
          <div class="field btn back-to-home">
            <a href="{% url 'index' %}">Back to Home</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
