{% include 'admin_nav.html' %}
{% load static %}

{% block main %}

{% if error == "no" %}
     <script>
       alert('Your Enquiry has been Updated');
       window.location.href ="{% url 'viewEnquiry' %}";
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
        alert('Something went wrong, Try Again');
     </script>
{% endif %}

<html lang="en" class="no-focus">

  <title>Gym Management System - Edit Enquiry</title>
  
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="{% static 'css/edit-styles.css' %}">

  <!-- Background Video -->
  <video autoplay muted loop class="back-video">
    <source src="{% static 'images/bgvideo2.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="container">
    <div class="card">
      <h5>Edit Enquiry</h5>
      <div class="container-fluid">
        <form method="post">
          {% csrf_token %}
          
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ enquiry.name }}" placeholder="Enter your name">
          </div>

          <div class="form-group">
            <label for="mobile">Contact Number</label>
            <input type="text" id="mobile" name="mobile" class="form-control" value="{{ enquiry.mobile }}" placeholder="Enter your contact number">
          </div>

          <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ enquiry.email }}" placeholder="Enter your email">
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" class="form-control" value="{{ enquiry.age }}" placeholder="Enter your age">
          </div>

          <div class="form-group">
            <label>Gender</label><br>
            <input type="radio" id="male" name="gender" value="Male" {% if enquiry.gender == "Male" %}checked{% endif %}>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" {% if enquiry.gender == "Female" %}checked{% endif %}>
            <label for="female">Female</label>
          </div>

          <hr>

          <button type="submit" class="btn btn-primary">Update Enquiry</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Core JS -->
  <script src="{% static 'js1/core/jquery.min.js' %}"></script>
  <script src="{% static 'js1/core/popper.min.js' %}"></script>
  <script src="{% static 'js1/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js1/core/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'js1/core/jquery.scrollLock.min.js' %}"></script>
  <script src="{% static 'js1/core/jquery.appear.min.js' %}"></script>
  <script src="{% static 'js1/core/jquery.countTo.min.js' %}"></script>
  <script src="{% static 'js1/core/js.cookie.min.js' %}"></script>
  <script src="{% static 'js1/codebase.js' %}"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="{% static 'js1/plugins/chartjs/Chart.bundle.min.js' %}"></script>
  <script src="{% static 'js1/pages/be_pages_dashboard.js' %}"></script>

</html>

{% endblock %}
