{% include 'admin_nav.html' %}
{% load static %}
{% block main %}

{% if error == "no" %}
     <script>
       alert('Your Equipment has been Updated');
       window.location.href ="{% url 'viewEquipment' %}";
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
        alert('Something went wrong, Try Again');
     </script>
{% endif %}

<html lang="en" class="no-focus">

<title>Gym Management System - Edit Equipment</title>
<link rel="stylesheet" href="{% static 'css/edit-styles.css' %}">

  <!-- Background Video -->
  <video autoplay muted loop class="back-video">
    <source src="{% static 'images/bgvideo2.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

<br><br><br><br>
<div class="container card shadow mt-5">
    <div class="card-body">
        <h5>Edit Equipment</h5>
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Equipment Name</label>
                    <input type="text" name="name" class="form-control" id="name" value="{{ equipment.name }}">
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" name="price" class="form-control" id="price" value="{{ equipment.price }}">
                </div>

                <div class="form-group">
                    <label for="unit">Unit</label>
                    <input type="text" name="unit" class="form-control" id="unit" value="{{ equipment.unit }}">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description">{{ equipment.description }}</textarea>
                </div>

                <hr>
                <input type="submit" value="Update" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<!-- External JS and CSS -->
<script src="{% static 'js1/core/jquery.min.js' %}"></script>
<script src="{% static 'js1/core/popper.min.js' %}"></script>
<script src="{% static 'js1/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.scrollLock.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.appear.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.countTo.min.js' %}"></script>
<script src="{% static 'js1/core/js.cookie.min.js' %}"></script>
<script src="{% static 'js1/codebase.js' %}"></script>

</html>
{% endblock %}
