{% include 'admin_nav.html' %}
{% load static %}
{% block main %}

{% if error == "no" %}
     <script>
       alert('Your Plan Updated');
       window.location.href ="{% url 'viewPlan' %}";
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
        alert('Something went wrong, Try Again');
     </script>
{% endif %}

<html lang="en" class="no-focus">

<title>Gym Management System - Edit Plan</title>
<link rel="stylesheet" href="{% static 'css/edit-styles.css' %}">

<br><br><br><br>

<!-- Background Video -->
<video autoplay muted loop class="back-video">
    <source src="{% static 'images/bgvideo2.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<div class="container card shadow mt-5">
    <div class="card-body">
        <h5>Edit Plan</h5>
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Plan Name</label>
                    <input type="text" name="name" class="form-control" id="name" value="{{ plan.name }}">
                </div>

                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="text" name="amount" class="form-control" id="amount" value="{{ plan.amount }}">
                </div>

                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input type="text" name="duration" class="form-control" id="duration" value="{{ plan.duration }}">
                </div>

                <hr>
                <input type="submit" value="Update" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<!-- External JS and CSS -->
<script src="{% static 'js1/core/jquery.min.js' %}"></script>
<script src="{% static 'js1/core/popper.min.js' %}"></script>
<script src="{% static 'js1/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.scrollLock.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.appear.min.js' %}"></script>
<script src="{% static 'js1/core/jquery.countTo.min.js' %}"></script>
<script src="{% static 'js1/core/js.cookie.min.js' %}"></script>
<script src="{% static 'js1/codebase.js' %}"></script>

</html>
{% endblock %}
