{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Link to the external CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <!-- Background Video -->
    <video autoplay loop muted class="video-background">
      <source src="{% static 'images/bgvideo2.mp4' %}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div align="center" style="margin-top: 20px">
      <h2>Django Chat Forum</h2>
    </div>

    <div class="container">
      <form id="post-form" method="POST" action="{% url 'checkview' %}">
        {% csrf_token %}
        <label>Room Name</label>
        <input type="text" name="room_name" id="room_name" required />
        <label>Username</label>
        <input type="text" name="username" id="username" required />
        <label>Password</label>
        <input type="password" name="password" id="password" required />
        <input type="submit" value="Enter Room" />
      </form>
    </div>
  </body>
</html>
