{% load static %}
{% if error == "no" %}
    <script>
        alert('Logged In Successfully');
        window.location.href = "{% url 'member_home' %}";
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert('Invalid Credentials, Please Try Again');
    </script>
{% endif %}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Member Login</title>
    <link rel="stylesheet" href="{% static 'css/member_login.css' %}">
</head>
<body>
    <video autoplay muted loop playsinline class="background-video">
        <source src="{% static 'images/mylivewallpapers-com-Hulk-Gym-4K.mp4' %}" type="video/mp4" />
    </video>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Member Login</div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form method="post" class="login">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" id="uname" name="uname" placeholder="Username" required>
                    </div>
                    <div class="field">
                        <input type="password" id="pwd" name="pwd" placeholder="Password" required>
                    </div>
                    <div class="btn field">
                        <input type="submit" value="Login">
                    </div>
                    <a href="{% url 'index' %}" class="btn back-to-home">Back to Home</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
